@import url('https://fonts.googleapis.com/css2?family=Nabla&family=Silkscreen&family=Source+Code+Pro:wght@200&display=swap');

@font-face{
    font-family:'digital-clock-font';
    src: url('digital-7.ttf');
   }

   @font-face {
    font-family: 'pixel point';
    src: url('pixel-point.ttf') 
  }   
  @font-face {
    font-family: 'led-counter-7';
    src: url('led-counter-7.regular.ttf');
  }

  @font-face {
    font-family: 'casio-fx-7800gc-regular';
    src: url('casio-fx-7800gc-regular.ttf');
  }

.container{
    text-align: center;
    margin-top:23px;
}

body {
    background-color: black;
    background-image: url('peakpx.jpg');
}

img {
    width: 150px;
    padding-bottom: 10px;
}

#screen{
    border-radius: 21px;
    text-align: right;
    border: 5px ridge black;
    font-size: 50px;
    height: 55px;
    width: 366px;
    font-family:'led-counter-7';
    background-color: lightgray;
}

#screen:hover{
    background-color : lightgreen;
    border-color: blueviolet;
}

.row{
    display:inline-flex;
}

input{
    border-radius: 20px;
    border-width: 1px;
    border-color: gold;
    font-size: 30px;
    background: whitesmoke;
    cursor: pointer;
    width: 82px;
    height: 75px;
    margin: 6px;
}

input:hover{
    background-color: lightgray;
}

.calculator {
    border: 4px solid lightgray;
    background-color: white;
    padding: 23px;
    border-radius: 22px;
    display: inline-block;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);

}

#bracket{
    display: inline-flex;
    align-items: center;
    padding-top: 10px;
}
#brc{
    width: 179px;
    height: 55px;
}

#heading {
    font-size: 40px;
    font-family: 'Nabla';
    font-style: normal;
}

p{
    font-family: 'casio-fx-7800gc-regular';
}


